<div class="container">
  <form [formGroup]="healthForm" (ngSubmit)="submitForm()" class="mt-4">
    <div class="row">
      <h1>Health Assessment Form</h1>
    </div>
    <div class="row">
      <div class="col-half">
        <h4>What is your age</h4>
        <div class="input-group input-group-icon">
          <div class="col-full">
            
            <input type="text" placeholder="Age"  />
            <div class="input-icon">
              <i class="fa fa-credit-card"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-half">
        <h4>Biological Gender</h4>
        <div class="input-group">
          <input id="gender-male" type="radio" name="gender" value="male" />
          <label for="gender-male">Male</label>
          <input id="gender-female" type="radio" name="gender" value="female" />
          <label for="gender-female">Female</label>
        </div>
      </div>
    </div>
    <div class="row">
      <h4>Do you have Hypertension?</h4>
      <div class="input-group">
        <input
          id="hyper1"
          type="radio"
          name="payment-method"
          value="yes"
        />
        <label for="hyper1">
          <span>
            <i class="fa fa-cc-visa"></i>
            Yes
          </span>
        </label>
        <input
          id="hyper2"
          type="radio"
          name="payment-method"
          value="no"
          checked="true"
        />
        <label for="hyper2">
          <span>
            <i class="fa fa-cc-paypal"></i>
            No
          </span>
        </label>
      </div>
      <h4>Do you have a heart disease?</h4>
      <div class="input-group">
        <input
          id="heart1"
          type="radio"
          name="heart"
          value="yes"
        />
        <label for="heart1">
          <span>
            <i class="fa fa-cc-visa"></i>
            Yes
          </span>
        </label>
        <input
          id="heart2"
          type="radio"
          name="heart"
          value="no"
          checked="true"
        />
        <label for="heart2">
          <span>
            <i class="fa fa-cc-paypal"></i>
            No
          </span>
        </label>
      </div>
      <h4>Do you smoke?</h4>
      <div class="input-group smoke">
        <input
          id="smoke1"
          type="radio"
          name="smoke"
          value="yes"
        />
        <label for="smoke1">
          <span>
            <i class="fa fa-cc-visa"></i>
            Yes
          </span>
        </label>
        <input
          id="smoke2"
          type="radio"
          name="smoke"
          value="no"
          checked="true"
        />
        <label for="smoke2">
          <span>
            <i class="fa fa-cc-paypal"></i>
            No
          </span>
        </label>
        <input
          id="smoke3"
          type="radio"
          name="smoke"
          value="in the past"
        />
        <label for="smoke3">
          <span>
            <i class="fa fa-cc-visa"></i>
            In the past
          </span>
        </label>
      </div>
      </div>
      <div class="row">
        <div class="col-half">
          <h4>What is your BMI</h4>
          <div class="input-group input-group-icon">
            <div class="col-full">
              
              <input type="text" placeholder="BMI"  />
              <div class="input-icon">
                <i class="fa fa-credit-card"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-half">
          <h4>HbA1C Level</h4>
          <div class="input-group input-group-icon">
            <div class="col-full">
              
              <input type="text" placeholder="HbA1C"  />
              <div class="input-icon">
                <i class="fa fa-credit-card"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-half">
          <h4>Blood Glucose Level</h4>
          <div class="input-group input-group-icon">
            <div class="col-full">
              
              <input type="text" placeholder="Blood Glucose Level"  />
              <div class="input-icon">
                <i class="fa fa-credit-card"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-half"></div>
      </div>
    <div class="row">
      <h4>Terms and Conditions</h4>
      <div class="input-group">
        <input id="terms" type="checkbox" />
        <label for="terms"
          >I accept the terms and conditions for signing up to this service, and
          hereby confirm I have read the privacy policy.</label
        >
      </div>
    </div>
    <button type="submit" class="mt-4 btn btn-danger">Submit</button> 
  </form>
  <div *ngIf="submitted" class="mt-3 alert alert-success">
    <strong>Success!</strong> Form submitted successfully!
    </div>
</div>
