.container {
    max-width: 38em;
    padding: 1em 3em 2em 3em;
    margin: 0em auto;
    background-color: #fff;
    border-radius: 4.2px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  }

.subheader{
    color: #1E4380;
}

.underlined-text {
    text-decoration: underline;
  }

.inline-p {
  display: inline;
  margin: 0; /* You can also remove any unwanted margin */
}