<div class="container">
  <div
    class="content text-center d-flex flex-column justify-content-center align-items-center"
  >
    <h1 class="title">DiabetesRiskChecker.com</h1>
    <h3 class="subtitle">Take the test now!</h3>
    <div class="row">
      <a routerLink="/form">
        <button class="btn submitbutton mt-4 mr-3">Start</button>
      </a>
      <a href="https://bad-good-vs-bad.vercel.app/" target="_blank">
        <button class="btn submitbutton2 mt-4">Switch To Bad App</button>
      </a>
    </div>
  </div>
</div>
